////Fonts

$copy: 'Roboto',
sans-serif;
$title: 'Major Mono Display',
monospace;

.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s;
}

.fade-enter,
.fade-leave-to

/* .fade-leave-active below version 2.1.8 */
  {
  opacity: 0;
}


$color-1: #98cbf9;

$color-2: #b2e3d8;

$color-3 : #ffadb6;

$color-4 : #FFEAC1;

$color-5 :  #D9C8FC;
